<!DOCTYPE html>
<html>
<head>
    <title>Demo API Flask</title>
</head>
<body>
    <h1>Welcome to Demo API Flask By KN16</h1>
    <h2>Error Missing Key:</h2>
    <ol type="I">
        <li>Key "ID" : You must send "ID" </li>
        <li>Key "QUANTITY" : 0</li>
        <li>Key "NAME" : "Please, Update Name"</li>
        <li>Key "PRICE" : 0</li>
    </ol>
    <h3> List Route of Demo: </h3>
    <ol type="">
    <li>
        <h3>/get_all_book</h3>
        Route:/get_all_book    <br>  
        Method:GET<br> 
                Use: Get all book of Database

    </li>
    <li>
        <h3>/get_book_id</h3>
        Route:/get_book_id  <br>   
        Method:GET<br> 
                Use: Get ID book of Database<br>
                Request Header-ContentType:application/json<br>
                Request body:<br> {<br>"ID":Value(Integer)<br>} 
    </li>
    <li>
        <h3>/update_book_id</h3>
        Route:/update_book_id   <br>  
        Method:PUT<br> 
                Use: Update Quantity of ID book <br>
                Request Header-ContentType:application/json<br>
                Request body: <br>{<br>"ID":Value(Integer),<br>"QUANTITY":Value(Integer) <br> } 
    </li>
    <li>
        <h3>/delete_book</h3>
        Route:/delete_book <br>    
        Method:DELETE<br> 
                Use: Delete ID book of Database <br>
                Request Header-ContentType:application/json<br>
                Request body: <br>{<br>"ID":Value(Integer) <br>} 
    </li>
    <li>
        <h3>/add_book</h3>
        Route:/add_book     
        Method:POST<br> 
                Use: Add ID book of Database <br>
              Request Header-ContentType:application/json<br>
                Request body:<br> {<br>
                    "ID": Value(Integer),<br>
                    "NAME": Value(String-49 char),<br>
                    "PRICE": Value(Float),<br>
                    "QUANTITY": Value(Integer)<br>
                }
    </li>
</ol>
</body>
 
</html>
